<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body><h1>All Clients for {{stylist.name}}</h1>
        {% if clients is not empty%}
            {% for client in clients %}
            <div class="stylist">
                <h3>{{client.name}}</h3>
            </div>
            {% endfor %}
        {% endif %}
        <form class="" action="/stylist/{{stylist.id}}" method="post">
            <input type="hidden" name="stylist_id" value={{stylist.id}}>
            <label for="">Enter Client</label>
            <input type="text" name="name" value="">
            <label for="">Last Appointment</label>
            <input type="text" name="last_appointment" value="">
            <label for="">Next Appointment</label>
            <input type="text" name="next_appointment" value="">
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
